.partner-main-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 15vh;
    padding-bottom: 15vh;
    transition: background-color 0.5s ease; 
}

.partner-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.partner-title-wrapper {
    padding: 8vh 0vh 3vh 21vh;
    font-size: small;
}

.partner-title-wrapper > h1 {
    font-weight: 300;
}

.partner-subtitle-wrapper {
    padding: 0vh 0vh 8vh 21vh;
}

.partner-subtitle-wrapper > p {
    font-size: 3.5rem;
    max-width: 56vw;
    font-weight: 700;
    text-align: start;
    margin: 0;
    line-height: initial;
}

.partner-slider-wrapper {
    /* width: 100%; */
    margin: 2rem 5rem 8rem 5rem;
    /* display: flex; */
    /* align-items: center; */
}

.partners-slide {
    display: flex !important;
    justify-content: center !important;
}

.partners-slide > img {
    width: 11rem;
    /* height: 3rem; */
}